.center{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.main-display{
    padding-right: 20%;
    padding-left: 20%;
    padding-top: 10%;
}

.container{
    display: flex;
    justify-content: center;
}

.item{
    margin-left: 24%;
    margin-right: 24%;
}